:root {
  --btn-color: rgb(93 93 255);
  --font-color: #8aa9b4;
  --heading-color: #d9e3ea;
}

body {
  background-color: #151719 !important;
}

.Navbar-title {
  text-decoration: none;
  color: black;
}

.Navbar-element {
  margin-top: 2px;
  text-decoration: none !important;
  color: black;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Navbar-element h4 {
  font-weight: 400;
  font-size: 15px;
  color: rgb(93 93 255);
  /* margin-top: 5px; */
}

.HeroSection {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem !important;
  margin: auto;
  width: 85%;
}

.HeroSection h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  color: var(--heading-color);
}

.HeroSection h3 {
  color: var(--font-color);
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 400;
}

.table-heading {
  color: var(--heading-color);
}
.table-h4 {
  font-size: 13px;
  line-height: 1.5rem;
  color: var(--font-color);
}

.goals-btn {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  color: #16a368 !important;
  background-color: #bbf7d0 !important;
  border-radius: 2rem !important;
}

.left-col {
  text-align: left;
}

.left-col p {
  color: #1e35f1;
}

.left-col h2 {
  color: var(--heading-color);
}
.left-col h4 {
  font-size: 18px;
  font-weight: 400;
  color: var(--font-color);
  line-height: 1.5rem;
}

.left-col h6 {
  font-size: 15px;
  font-weight: 400;
  color: var(--font-color);
}

.projects {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 786px) {
  .projects {
    width: 340px;
    height: auto;
  }
}

.cards-container {
  justify-content: center;
  align-items: center;
}
.card-body {
  background-color: #25282c;
  border: transparent !important;
}
.card-main-text {
  color: var(--font-color);
}
.card-secondary-text {
  color: white;
  text-align: left;
  font-weight: 600;
}

@media screen and (max-width: 786px) {
  .card-outer-container {
    margin-left: 3rem;
    width: 18rem !important;
    margin-bottom: 0.5rem !important;
  }
}

input {
  margin-right: 0.5rem !important;
  background-color: #4b4acf;
  border: 1px solid #a9a3a3;
  padding-left: 1rem;
  width: 228px;
}

.subscribe-btn {
  color: var(--btn-color) !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  font-size: 14px !important;
  padding: 0.5rem !important;
}

.footer {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem !important;
  margin: auto;
  width: 85%;
}

.footer p {
  font-size: 13px;
  text-align: left;
  margin-bottom: 0.2rem;
  color: var(--font-color);
}

.footer-main {
  text-align: left;
}

.footer-main p {
  font-size: 15px;
}

.footer-bottom-left {
  text-align: left;
  font-size: 13px;
  color: var(--font-color);
}

.footer-bottom-right {
  text-align: right;
}
.video {
  margin-top: 0.75rem;
  width: 600;
  height: 300;
}
@media screen and (max-width: 786px) {
  .footer-sections {
    margin-top: 0.5rem !important;
  }
  .footer-bottom-left {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .footer-bottom-right {
    text-align: center;
  }

  .video {
    margin-top: 0.75rem;
    width: 350px;
    height: auto;
  }
}
